
.slider {
  display: flex;
  cursor: grab;
  height: 67vh;
  color: rgb(124, 124, 124);
}



/* .slider::-webkit-scrollbar-thumb {
  border-radius: 5px;
} */

/* .slider::-webkit-scrollbar-track {  
  border-radius: 55px;
} */


