.cardContainer {
  
  /* display: flex; */
  align-content: center;
  border: 3px solid rgba(45, 127, 59, 0.988);
  border-radius: 8px;
  border-spacing:50px;
  height: 24rem;
  width: 19rem;
  margin: auto;
  margin-left: 19px;  
  transition: all 300ms ease;
  background-color: rgba(255, 255, 255, 0.138);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.655);
}

.cardContainer:hover {
  transform: translateY(-3%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.696);
}

.cardContainerDetail {
  border: 3px solid rgb(48, 116, 59);
  border-radius: 8px;
  height: 29rem;
  width: 19rem;
  margin: 3rem;
  transition: all 300ms ease;
  background-color: rgba(255, 255, 255, 0.418);
  box-shadow: 0 0 10px rgba(255, 253, 253, 0.655);
}

.cardContainerDetail:hover {
  transform: translateY(-3%);
  box-shadow: 0 0 10px rgba(255, 253, 253, 0.655);
}

.cardDate1{
color: rgba(2, 8, 8, 0);
}

.cardDate2{
  color: rgb(2, 8, 8);
}

#fecha{
  font-size: 20px;
  font-weight:600;
  text-decoration:underline;
}

.hearth{
  color: rgba(255, 0, 0, 0);
  margin-right: 8px;
  font-size: 15px;
}
.hearth2{
  color: rgb(255, 0, 0);
  margin-right: 8px;
  font-size: 15px;
  
}

.img {
  border-radius: 25px;
  height: 16rem;
  width: 16rem;
  padding-top: 16px;
}


