.headerContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(128, 128, 128, 0.5); 
   padding: 16px;
}



.logo {
   height: 140px;
   width: 350px; 
   position: fixed;
   top: 0;
   left: -40px;
  
 }

 .button{
   margin-left: auto;
 }
