.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
  padding: 20px;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #9a9292;
  font-size: 14px;
}


